body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  min-height: calc(100vh - 64px) !important;
}

.ant-layout-content {
  background-color: white;
}

/* sidebar trigger */
.ant-layout-sider-zero-width-trigger {
  margin-top: 2.5rem;
}

/* stats-section */

/* card styling */
.stats-col {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-right: 0.75rem !important;
}

.risk-card {
  margin: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.risk-card-text {
  margin: 0 !important;
  text-align: center;
}

.stats-transactions-text {
  margin: 1.5rem 1rem 1rem 1rem !important;
}

.stats-transactions-text p {
  margin: 0 0 0.5rem 0;
}

.stats-transactions-text b {
  font-weight: 600 !important;
}

.stats-cases {
  margin: 0.5rem 0 1rem 1rem;
}

.ant-picker-range-arrow {
  visibility: hidden;
}

.table-date-picker .ant-picker-active-bar {
  visibility: hidden;
}

.icon-button {
  color: gray;
}

.icon-button:hover {
  color: whitesmoke;
}

.nav-header,
.navbar {
  background: white !important;
}

.navbar .ant-menu-item:after {
  visibility: hidden;
}

.navbar .ant-menu-overflow-item::after {
  visibility: hidden;
}

.nav-search .ant-input-affix-wrapper {
  width: 30rem;
}

@media screen and (max-width: 678px) {
  .logo h1 {
    font-size: 15px;
  }
  .nav-search {
    visibility: hidden;
  }
  .ant-space-item:has(> .nav-search) {
    visibility: hidden;
    display: none;
  }
  .dashboard-content {
    padding: 1rem !important;
    padding-top: 5rem !important;
  }
}

@media screen and (max-width: 735px) {
  .nav-right {
    margin-right: -16px !important;
  }
}

@media screen and (max-width: 1200px) {
  .nav-search .ant-input-affix-wrapper {
    width: 15rem;
  }
}

@media screen and (max-width: 1000px) {
  .nav-search .ant-input-affix-wrapper {
    width: 10rem;
  }
}

.tableRow:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}

.tableRowAlt:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}

.wallet-details-col {
  margin-top: 15px;
  padding: 1rem 2rem 2rem 2rem !important;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex: 0 0 49% !important;
  max-width: 49% !important;
}

.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark .ant-menu-item:active,
.ant-menu-dark .ant-menu-submenu-title {
  background-color: transparent !important;
  font-weight: bolder;
}

.ant-menu-dark .ant-menu {
  background-color: #112545 !important;
}

.wallet-nav-selected {
  all: unset !important;
}

a::before {
  position: relative !important;
}

.search-section-element {
  display: flex;
  justify-content: center;
}

.dashboard-content {
  padding: 5rem;
  padding-top: 10rem;
}

.g6-tooltip {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  font-size: 12px;
  color: #545454;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px;
  left: 450px !important;
}
